.App {
  align-items: center;
  justify-content: center;
  font-family: Inter;
}
.Social-Wrapper
{
  margin-top: 3vmin;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 2vmin;
}

img.Social{
  width:2.1vmin;
  height:2.1vmin;
}

a.Social{
  display: flex;
  padding: 1vmin 2vmin;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  border-radius: 100vmin;
  border: 0.4vmin solid var(--blue, #23657D);
  background: #FFF;
  color: var(--blue, #23657D);
  text-align: center;
  font-size: 1.8vmin;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

h1.Name{
  font-size: 15vmin;
  text-align: center;
  font-weight: 700;
  color: #23657D;
}

div.WallInline{
  background-image: url("./images/WallInline.svg");
  display: flex;
  justify-self: center;
  position: relative;
  top: -20vmin;
  flex:auto;
  background-size:cover;
  z-index: 2;
}
div.WallOutline{
  background-image: url("./images/WallOutline.svg");
  background-size: 80vmin;
  background-repeat: none;
  width: 80vmin;
  height: 162.5vmin;
  z-index: 1;
}
section.FEET
{
  height: 0;
}
footer.FEET{
  align-content: end;
  justify-content: center;
  flex: auto;
  position: relative;
  top: -70vmin;
  height: 80vmin;
  width: 100%;
  background-color: #9C9080;
  z-index: 0;
}

div.SocialFeet{
  display: flex;
  align-items: center;
  gap: 1vmin;
}

div.Foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4vmin;
}

h2.Name{
  color: var(--white, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 2.5vmin;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}