section.Projects
{
    width: 100vmin;
}

button.ProjectContainer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4vmin;
    background-color: white;
    border:0.7vmin solid #23657D;
    border-radius: 5vmin;
    margin: 4vmin;
    width: 92vmin;
}

h1.Projects
{
    color: #23657D;
    text-align: center;
    font-size: 10vmin;
    font-weight: 700;
    line-height: normal;
}

h2.ProjectName
{
    flex-grow: 1;
    color: #23657D;
    text-align: left;
    font-size: 5vmin;
    font-weight: 600;
    line-height: normal;
    margin: 0%;
}

div.ProjectDrop
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ProjectCheveron
{
    justify-self: flex-end;
}
.Cheveron
{
    margin-top: 1.3vmin;
    width: 5vmin;
}

div.ProjectDescription
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vmin;
}

p.ProjectDescription{
    margin-top: 2vmin;
    font-family: Inter;
    font-size: 2vmin;
    text-align: left;
    font-weight: 700;
    color: #666563;
}

img.Engine12{
    margin-top: 2vmin;
    width: 50vmin;
    border-radius: 2vmin;
    justify-self:end
}

img.RayTracer{
    margin-top: 2vmin;
    width: 30vmin;
    border-radius: 2vmin;
    justify-self:end
}