section.Projects
{
    width: 100vmin;
}

button.ProjectContainer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4vmin;
    background-color: white;
    border:0.7vmin solid #23657D;
    border-radius: 5vmin;
    margin: 4vmin;
    width: 92vmin;
}

h1.Projects
{
    color: #23657D;
    text-align: center;
    font-size: 10vmin;
    font-weight: 700;
    line-height: normal;
}

h2.ProjectName
{
    flex-grow: 1;
    color: #23657D;
    text-align: left;
    font-size: 5vmin;
    font-weight: 600;
    line-height: normal;
    margin: 0%;
}

div.ProjectDrop
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ProjectCheveron
{
    justify-self: flex-end;
}
.Cheveron
{
    margin-top: 1.3vmin;
    width: 5vmin;
}

div.ProjectDescription
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vmin;
    margin-top: 2vmin;
}

p.ProjectDescription{
    margin: 0;
    font-family: Inter;
    font-size: 2vmin;
    text-align: left;
    font-weight: 700;
    color: #666563;
}

img.Sushi{
    width: 40vmin;
    border-radius: 2vmin;
    justify-self:end
}

img.Engine12{
    width: 40vmin;
    border-radius: 2vmin;
    justify-self:end
}

img.RayTracer{
    width: 25vmin;
    border-radius: 2vmin;
    justify-self:end
}

a.ProjectLink
{
    display: flex;
    padding: 1vmin 2vmin;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    border-radius: 100vmin;
    border: 0.4vmin solid #23657D;
    background: #FFF;
    color: #23657D;
    text-align: center;
    font-size: 2.1vmin;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    width: 20vmin;
}

div.ProjectText
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: min(2vmin);
}

img.Modeling{
    width: 20vmin;
}

img.Calorie{
    width: 20vmin;
}